$design-width: 1200px;
$desktop-width: 1080px;
$tablet-width: 780px;

$font-size: 15px;

$gutter: 100px;
$gutter-half: $gutter / 2;
$gutter-small: $gutter / 4;

$font-color: #546E7A;
$button-color: #689F38;
$button-font-color: white;
$border-color: #B0BEC5;

$background-color: #FCFCFC;
$background-color-dark: #ECEFF1;
$background-color-light: white;

$logo-color: #689F38;
$notification-color: #689F38;
$label-high-color: #F44336;
$label-low-color: #2196F3;

$footer-color: #37474F;
$footer-font-color: white;
