select {
  appearance: none;
  -webkit-appearance: none;

  background: transparent;
  border: 0;
  outline: 0;
  font-size: 15px;
  color: $font-color;
}

.select-wrapper {
  position: relative;
  padding-right: 15px;
}

.select-wrapper:after {
  content: '\f078';
  position: absolute;
  top: 5px;
  right: 0;
  color: $font-color;
  font-family: FontAwesome;
  font-size: 8px;
  font-weight: 100;
}

.select-wrapper-label {
  margin-right: 10px;
}
